* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 32px;
}

body {
    width: 100%;
}

@font-face {
    font-family: 'Technology';
    src: URL('font/Technology.ttf') format('truetype');
}

#display-text {
    font-family: 'Technology';
    font-size: 60px;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    padding-right: 0.3em;
    vertical-align: middle;
    font-weight: 300;
}

.display {
    flex: 1;
    height: 90px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    border: solid 2px #9d9b9b;
    border-radius: 8px;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.numbers {
    display: flex;
    width: 324px; 
    flex-wrap: wrap;
}

.operators {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    gap: 12px;
    
}

button {
    flex: 1;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none #9d9b9b;
    border-radius: 15px;
    font-weight: 800;
    box-shadow: 0 7px #999;
    font-family: monospace;
}

.numbers > button {
    padding: 0.2em 0.5em 0.2em;
    width: 32%;
    max-height: 50px;
    margin: 5%;
}

.operators > button {
    padding: 0.2em 0.5em 0.2em;
    background-color: #c0ddf5;
    margin: 5%;
}


.number:active {
    background-color: #9d9b9b;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}
.number:hover {background-color: #9d9b9b}

.op:active {
    background-color: #c0ddf5;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}
.op:hover {background-color: #aec2d3}

.plusMinus {
    font-size: 24px;
}

#equals {
    width: 100%;
    background-color: #ffee82;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: solid 2px #9d9b9b;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    background-color: #e1e0e0;
    padding: 1em;
    justify-content: space-between;
    gap: 10px;
}